<?xml version="1.0" encoding="utf-8" ?>
<odoo noupdate="1">
    <!-- Install Spanish language (if not installed yet) -->
    <record id="lang_settings_es_mx" model="base.language.install">
        <field name="lang_ids" eval="[(4, ref('base.lang_es_MX') )]" />
    </record>

    <function model="base.language.install" name="lang_install" eval="[ref('lang_settings_es_mx')]" />
</odoo>
